<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">
  	Programming is not just about writing a code rather it is about solving the problem. I take my approach by understanding the problem, thinking for the solution then implementing it on my code.
  </p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
